<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime List</title>
    <link rel="icon" type="image/png" href="/icon.png">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/script.js"></script>
</head>
<body>
    <h1>API Documentation</h1>
    <div class="logo-container">
        <img class="logo" src="/logo.png" alt="AniList Logo">
    </div>
    <div class="buttons">
        <a href="/docs">Swagger UI</a>
        <a href="/redoc">ReDoc</a>
    </div>
</body>
</html>